<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <title>spring-webflux-thymeleaf</title>
</head>
<body>
<main layout:fragment="content">

        <div class="row">
            <div class="col s9">
                <h5>Some content</h5>
                <p>This is some text.</p>
                <h5>Some tabs</h5>
                <ul class="tabs">
                    <li class="tab col s2"><a href="#tab1">Tab 1</a></li>
                    <li class="tab col s2"><a href="#tab2">Tab 2</a></li>
                    <li class="tab col s2"><a href="#tab3">Tab 3</a></li>
                </ul>
                <div id="tab1" class="col s12"><p>Tab 1 content!</p></div>
                <div id="tab2" class="col s12"><p>Tab 2 content!</p></div>
                <div id="tab3" class="col s12"><p>Tab 3 content!</p></div>
            </div>
            <div class="col s3">
                <h5>Some side content</h5>
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">This is a card</span>
                        <p>It has content.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Click it</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">This is a another card</span>
                        <p>It also has some content, although not as interesting as the previous one.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Action 1</a>
                        <a href="#">Action 2</a>
                        <a href="#">Action 3</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Notice</span>
                        <p>Something noteworthy...</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col s12">
                <h5>Another row</h5>
                <p>This one takes the full width of the page.</p>
            </div>
        </div>

</main>
</body>
</html>